CREATE OR REPLACE VIEW {{ view_name }} AS
SELECT
    * EXCEPT (id, gender, departure_delay, class, wifi_service)
    , CASE
        WHEN wifi_service = 0 THEN 3
        ELSE wifi_service
    END AS wifi_service
    , CASE
        WHEN class = 'Business' THEN 1
        ELSE 0
    END AS is_business_class
FROM {{ source_table }};